html{
  box-sizing: border-box;
}

*,::after,::before{
  box-sizing: inherit;
}


.body {
  background-color: rgb(240, 240, 240);
  font-family: "Lato", sans-serif;
}

.body__content {
  width: 85%;
  margin: 35px auto;
}

.done {
  text-decoration: line-through;
}
