.body {
  background-color: rgb(240, 240, 240);
  font-family: "Lato", sans-serif;
}

.body__content {
  width: 85%;
  margin: 35px auto;
}

.header {
  font-weight: 900;
  font-size: 35px;
}

.done {
  text-decoration: line-through;
}
