.taskList__hidden{
  display: none;
}

.taskList {
  text-align: left;
  background-color: white;
  margin-top: 15px;
  box-shadow: 0px 0px 18px -11px rgba(66, 68, 90, 1);
}

.taskList__listContener {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.taskList__headerContener {
  padding: 5px 15px 5px;
  border-bottom: solid 1px rgb(220, 220, 220);
  display: flex;
  justify-content: space-between;
}

.taskList__list {
  list-style: none;
  width: 95%;
  padding: 0;
}

.taskList__taskButton{
  border: none;
  background:none;
  color: teal;
  font-weight: 300;
  font-size: 18px;
  transition: 500ms ease-in-out;
  cursor: pointer;
}

.taskList__taskButton:hover{
  color: rgb(4, 187, 187);
}

.taskList__taskButton:disabled{
  color: lightgray;
}

.taskList__taskButton:disabled:hover{
  color: lightgray;
}




.taskList__listIteam {
  border-bottom: solid 2px rgb(220, 220, 220);
  padding: 5px;
  font-size: 17px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.taskList__buttonContener {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

.taskList__taskContent {
  text-align: left;
  flex-grow: 1;
  margin-left: 5px;
}

.taskList__button--done {
  background-color: rgb(27, 134, 34);
  color: white;
  font-size: 25px;
 
}

.taskList__button--remove {
  background-color: rgb(240, 47, 68);
}

.taskList__button--done:hover{
  background-color:rgb(34, 170, 43);
}

.taskList__button--remove:hover {
  background-color: rgb(165, 3, 22);
}

.taskList__button {
  border: none;
  padding: 10px;
  flex-shrink: 0;
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 500ms ease-in-out;
  cursor: pointer;
}

@media (max-width: 767px) {
  .taskList__headerContener {
    flex-direction: column;
  }
  .taskList__buttonContener{
    flex-direction: column;
    gap: 15px;
  }
}
